<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Citations</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Joseph Loporto Flask Project Citations</h1>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Game Image Citations</h2>
            <p class="lead">
                <img src="https://media1.giphy.com/media/w85OYSOzXQaiVzZswl/giphy.gif">
                https://media1.giphy.com/media/w85OYSOzXQaiVzZswl/giphy.gif
                <br>Garfield gif for homepage credit giphy.com<br>

                <img src="https://images-na.ssl-images-amazon.com/images/I/515Z8IM0luL._SY550_.jpg">
                https://images-na.ssl-images-amazon.com/images/I/515Z8IM0luL._SY550_.jpg
                <br>credit Fiji ltd and amazon.com for fiji single graphic<br>

                <img src="https://static.slickdealscdn.com/attachment/2/0/7/0/6/9/9/4/8088607.attach">
                https://static.slickdealscdn.com/attachment/2/0/7/0/6/9/9/4/8088607.attach
                <br>credit Fiji ltd and slickdeals.com for Fiji 24 pack graphic<br>

                <img src="https://i5.walmartimages.com/asr/f589c639-82ae-4aa6-9528-ae717307cd8f_1.80ea2c2e762822875e08d3c1d3f0b41e.png?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
                https://i5.walmartimages.com/asr/f589c639-82ae-4aa6-9528-ae717307cd8f_1.80ea2c2e762822875e08d3c1d3f0b41e.png?odnHeight=450&odnWidth=450&odnBg=FFFFFF
                <br>credit walmart.com and Fiji ltd for fiji 6 pack graphic<br>

                <img src="http://assets.stickpng.com/thumbs/584fccf46a5ae41a83ddee90.png">
                http://assets.stickpng.com/thumbs/584fccf46a5ae41a83ddee90.png
                <br>credit stickpng.com and Dunking Donuts ltd for Dunkin' logo graphic<br>





            </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bootstrap for their Template</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="/static/js/scrolling-nav.js"></script>

</body>

</html>
